p{
    color: rgb(0, 0, 0);
}
#para1{
    text-align: center; color: blue;
}
.center{
    text-align: center; color: rgb(2, 31, 2);
} 
body{
    background-color: rgba(241, 208, 134, 0.685);
    font-family: Arial,Helvetica,sans-serif;
}
.project a{
    text-align: left;
    color: rgb(43, 96, 175);
    font-family: Helvetica,sans-serif;
}
.project img{
    width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid purple;
    display: block;
    margin: auto;
}
h1{
    color: darkslategray;
    text-align: center;
}
h2{
    color: rgb(2, 27, 8);
}
.projects{
    display:flex;
    flex-wrap:wrap;
}
.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; 
    border-radius: 25%;
}